<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <title>Engine Roller</title>
    <meta name="description" content="Approximation to roll procedrual schematics from Worlds Adrift.">
    <meta name="keywords" content="engine roller, worlds adrift, procedural schematic, random roll">
    <meta name="author" content="jamesm2w, Ziwix, Node">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/68ec3e13-1d62-4523-aa03-f014ce023665%2Fblurpleicon.ico?1528117757048" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/utility.css">
    <link rel="stylesheet" href="/styles/features.css">
  </head>
  <body>
    
    <div id="LoadEngineModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modalClose">&times;</span>
          <h3 class="wa-header" style="display: inline-block;">Load Schematic</h3>
          <span>(N.B. Loading a schematic will overwrite the data currently loaded.)</span>
        </div>
        <div class="modal-body row">
          <!-- Engines would go here -->
        </div>
        <div class="modal-footer">
          <h4>N.B. Loading a schematic will overwrite the data currently loaded.</h4>
        </div>
      </div>
    </div>
    
    <div class="container" style="margin-top: 15px;">
      
      <div class="wa-panel col-4">
        <h2 class="wa-title" style="text-align: center">
          Schematic View 
          <h5 href="javascript:void(0)" class="muted-text" id="saveLoadedSchematicBtn" style="cursor: not-allowed; display: inline-block; float: right;">(Save Loaded Schematic)</h5>
          <h5 href="javascript:void(0)" class="muted-text" id="loadSavedSchematicBtn" style="cursor: pointer; display: inline-block; float: left;">(Load Saved Schematic)</h5>
        </h2>
        <p style="text-align: center; clear: both;">
          Spent: <span id="schematicKnowledge">0</span> Knowledge 
          <a href="javascript:void(0)" onclick="UI.resetKnowledge()" class="muted-text">(Reset)</a>
          <span id="multipleRollOutput"></span>
        </p>
        <div class="schematicView wa-panel col-12" id="schematicPanel"></div>
      </div>
      
      <div class="wa-panel col-8">
        <h1 class="wa-title" style="text-align: center">
          Random Schematic Roller
        </h1>
        <div class="col-12">
          <div class="switch-btn active unselectable" id="Engine">
            <span class="wa-title">Engine Roller</span>
          </div>
          <div class="switch-btn unselectable" id="Wing">
            <span class="wa-title">Wing Roller</span>
          </div>
          <div class="switch-btn unselectable" id="Cannon">
            <span class="wa-title">Cannon Roller</span>
          </div>
          <div class="switch-btn unselectable" id="Swivel">
            <span class="wa-title">Swivel Roller</span>
          </div>
        </div>
        <div class="col-4">
          <div id="rollerUI">
            
          </div>
          <div class="schem-mat" style="padding: 15px;">
            <span class="wa-header">Ciphers</span>
            <div style="border: 2px solid var(--rarity-common); border-radius: 50%; width: 20px; height: 20px; display: flex; align-items: center; justify=c">
              P
            </div>
          </div>
        </div>
        
        <div id="advancedForm" class="wa-panel col-8">
          <h3 class="wa-title" style="text-align:center;">Advanced Rolling (Engines Only)</h3>
        </div>
      </div>
      
    </div>

    <script src="/random.min.js"></script>
    
    <script src="/eventHandler.js"></script>
    <script src="/randomSchematic.js"></script>
    <script src="/advancedRoll.js"></script>
    <script src="/utilities.js"></script>
    <script src="/userInterface.js"></script>
    <script src="/client.js"></script>
    
    <script>
      window.random = new Random();
    </script>
  </body>
</html>
