<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Engine Roller</title>
    <meta name="description" content="Rolling them Random Engines all day! Thanks to Ziwix for the algorithm.">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <div class="container">
      <div class="schematicView wa-panel col-3" id="schematicPanel">
        
        <span class="wa-header" style="font-size: 1vw; float: left;" id="schematicName">Procedural Engine</span>
          <!--<span style="float:right; color: red; font-weight: bold; font-size: 20px;">&times;</span>-->
        
        <div class="divider" style="border-bottom: dashed 2px white; margin-bottom: 5px; margin-top: 5px; clear: both;"></div>
        <div style="background-color: #776464; width: 100%; position: relative; height: 20px; margin-bottom: 2px;">
          <div style="background-color: #668ec3; height: 20px; width: 90%; position: absolute; transition: width 1s;" id="schem-stat-0"></div>
          <span style="z-index:1; float: left; margin-left: 10px; position: relative;">Resilience</span>
          <span style="z-index:1; float: right; margin-right: 10px; position: relative;" id="schem-stat-0-label">90</span>
        </div>
        <div style="background-color: #776464; width: 100%; position: relative; height: 20px; margin-bottom: 2px;">
          <div style="background-color: #668ec3; height: 20px; width: 90%; position: absolute; transition: width 1s;" id="schem-stat-1"></div>
          <span style="z-index:1; float: left; margin-left: 10px; position: relative;">Fuel Efficiency</span>
          <span style="z-index:1; float: right; margin-right: 10px; position: relative;" id="schem-stat-1-label">90</span>
        </div>
        <div style="background-color: #776464; width: 100%; position: relative; height: 20px; margin-bottom: 2px;">
          <div style="background-color: #668ec3; height: 20px; width: 90%; position: absolute; transition: width 1s;" id="schem-stat-2"></div>
          <span style="z-index:1; float: left; margin-left: 10px; position: relative;">Spin-Up</span>
          <span style="z-index:1; float: right; margin-right: 10px; position: relative;" id="schem-stat-2-label">90</span>
        </div>
        <div style="background-color: #776464; width: 100%; position: relative; height: 20px; margin-bottom: 2px;">
          <div style="background-color: #668ec3; height: 20px; width: 90%; position: absolute; transition: width 1s;" id="schem-stat-3"></div>
          <span style="z-index:1; float: left; margin-left: 10px; position: relative;">Overheat Limit</span>
          <span style="z-index:1; float: right; margin-right: 10px; position: relative;"  id="schem-stat-3-label">90</span>
        </div>
        <div style="background-color: #776464; width: 100%; position: relative; height: 20px; margin-bottom: 2px;">
          <div style="background-color: #668ec3; height: 20px; width: 90%; position: absolute; transition: width 1s;"  id="schem-stat-4"></div>
          <span style="z-index:1; float: left; margin-left: 10px; position: relative;">Power</span>
          <span style="z-index:1; float: right; margin-right: 10px; position: relative;"  id="schem-stat-4-label">90</span>
        </div>
        <!--<div class="divider" style="border-bottom: dashed 2px white; margin-top: 5px;"></div>
        <p style="text-align: center; margin:2px 2px 2px 2px;">Cost: 500 Knowledge <a href="javascript:void(0)" onclick="resetKnowledge" style="text-decoration: none">(Reset)</a></p>
      --></div>
    </div>
    
    
    <a href="javascript:void(0)" onclick="rollEngine(1)">Roll Engine (T1)</a>
    <a href="javascript:void(0)" onclick="rollEngine(2)">Roll Engine (T2)</a>
    <a href="javascript:void(0)" onclick="rollEngine(3)">Roll Engine (T3)</a>
    <a href="javascript:void(0)" onclick="rollEngine(4)">Roll Engine (T4)</a>
    <a href="javascript:void(0)" onclick="rollEngine(5)">Roll Engine (T5)</a>
    <a href="javascript:void(0)" onclick="rollEngine(6)">Roll Engine (T6)</a>
    <script src="/random.min.js"></script>
    <script>
      var random = new Random();
    </script>
    <script src="/client.js"></script>
  </body>
</html>
