<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Engine Roller</title>
    <meta name="description" content="Rolling them Random Engines all day! Thanks to Ziwix for the algorithm.">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/68ec3e13-1d62-4523-aa03-f014ce023665%2Fblurpleicon.ico?1528117757048" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <div class="container">
      <div class="schematicView wa-panel col-3" id="schematicPanel">
        
        <span class="wa-header" style="font-size: 2.5vh; float: left;" id="schematicName">Procedural Engine</span>
        
        <div class="divider top bottom" style=""></div>
        <div class="stat-bar">
          <div class="progress" id="schem-stat-0"></div>
          <span class="stat-label left">Resilience</span>
          <span class="stat-label right" id="schem-stat-0-label">0</span>
        </div>
        <div class="stat-bar">
          <div class="progress" id="schem-stat-1"></div>
          <span class="stat-label left">Fuel Efficiency</span>
          <span class="stat-label right" id="schem-stat-1-label">0</span>
        </div>
        <div class="stat-bar">
          <div class="progress" id="schem-stat-2"></div>
          <span class="stat-label left">Spin-Up</span>
          <span class="stat-label right" id="schem-stat-2-label">0</span>
        </div>
        <div class="stat-bar">
          <div class="progress" id="schem-stat-3"></div>
          <span class="stat-label left">Overheat Limit</span>
          <span class="stat-label right" id="schem-stat-3-label">0</span>
        </div>
        <div class="stat-bar">
          <div class="progress" id="schem-stat-4"></div>
          <span class="stat-label left">Power</span>
          <span class="stat-label right" id="schem-stat-4-label">0</span>
        </div>
        <div class="divider bottom top"></div>
        <p style="text-align: center;">
          Spent: <span id="schematicKnowledge">0</span> Knowledge 
          <a href="javascript:void(0)" onclick="resetKnowledge()" style="text-decoration: none">(Reset)</a>
        </p>
      </div>
    </div>
    
    
    <a href="javascript:void(0)" onclick="rollEngine(1)">Roll Engine (T1)</a>
    <a href="javascript:void(0)" onclick="rollEngine(2)">Roll Engine (T2)</a>
    <a href="javascript:void(0)" onclick="rollEngine(3)">Roll Engine (T3)</a>
    <a href="javascript:void(0)" onclick="rollEngine(4)">Roll Engine (T4)</a>
    <a href="javascript:void(0)" onclick="rollEngine(5)">Roll Engine (T5)</a>
    <a href="javascript:void(0)" onclick="rollEngine(6)">Roll Engine (T6)</a>
    <script src="/random.min.js"></script>
    <script>
      var random = new Random();
    </script>
    <script src="/client.js"></script>
  </body>
</html>
