<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <title>Engine Roller</title>
    <meta name="description" content="Approximation to roll procedrual schematics from Worlds Adrift. Credit goes to Ziwix#2834 (especially with the original algorithm), jamesm2w#2954, Node#6629, Machine_Maker#8977">
    <meta name="keywords" content="engine roller, worlds adrift, procedural schematic, random roll">
    <meta name="author" content="jamesm2w, Ziwix, Node, Machine Maker">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/68ec3e13-1d62-4523-aa03-f014ce023665%2Fblurpleicon.ico?1528117757048" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/utility.css">
    <link rel="stylesheet" href="/styles/features.css">
  </head>
  <body>
    
    <div id="app">
      
    </div>
    
    <script src="/random.min.js"></script>
    
    <script src="/eventHandler.js"></script>
    <script src="/randomSchematic.js"></script>
    <script src="/advancedRoll.js"></script>
    <script src="/utilities.js"></script>
    <script src="/userInterface.js"></script>
    <script src="/client.js"></script>
    
    <script>
      window.random = new Random();
    </script>
  </body>
</html>
