<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <title>Engine Roller</title>
    <meta name="description" content="Approximation to roll procedrual schematics from Worlds Adrift. Credit goes to Ziwix#2834 (especially with the original algorithm), jamesm2w#2954, Node#6629, Machine_Maker#8977">
    <meta name="keywords" content="engine roller, worlds adrift, procedural schematic, random roll">
    <meta name="author" content="jamesm2w, Ziwix, Node, Machine Maker">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/68ec3e13-1d62-4523-aa03-f014ce023665%2Fblurpleicon.ico?1528117757048" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/utility.css">
    <link rel="stylesheet" href="/styles/features.css">
  </head>
  <body>
    
    <div id="app" class="row col-6">
      <div class="schematicView wa-panel col-12" id="schematicPanel" style="margin-bottom: 10px;"></div>
      
      <input id="stat1" type="number" placeholder="Stat1">
      <input id="stat2" type="number" placeholder="Stat2">
      <input id="stat3" type="number" placeholder="Stat3">
      <input id="stat4" type="number" placeholder="Stat4">
      <input id="stat5" type="number" placeholder="Stat5">
      <input id="tier" type="number" placeholder="Tier">
      <button id="updateButton">
        Change
      </button>
    </div>
    
    <script src="/random.min.js"></script>
    
    <script src="/eventHandler.js"></script>
    <script src="/randomSchematic.js"></script>
    <script src="/advancedRoll.js"></script>
    <script src="/utilities.js"></script>
    
    <script>
      window.random = new Random();
      
      var statString = function (obj) {
        return `<div class="stat-bar" id="schematicStat${obj.index}">
              <div class="progress" id="schematicStat${obj.index}Bar"></div>
              <span class="stat-label left">${obj.name}</span>
              <span class="stat-label right" id="schematicStat${obj.index}Value">0</span>
            </div>`
      }

      var matString = function (obj) {
        return `<div class="col-6 schem-mat bottom top hidden" id="schematicMat${obj.index}">
                <span class="wa-header" id="schematicMat${obj.index}Label">${obj.name}</span>
                <span id="schematicMat${obj.index}Value">100</span>
              </div>`
      }
      
      function render(type) {
        var panel = window.document.getElementById("schematicPanel");
        panel.setAttribute("schematicType", type);
        panel.innerHTML = `<span class="wa-header" style="font-size: 1em; float: left;" id="schematicName">Procedural ${type}</span>
                           <div class="divider top bottom"></div>`;
        for (var i = 0; i < 5; i++) {
          panel.innerHTML += statString({"name": Object.keys(window.schematicConfig[type].stats)[i], "index": i});

          if(document.getElementById("schematicStat"+i).getElementsByClassName("stat-label")[0].innerHTML == "undefined") {
            document.getElementById("schematicStat"+i).getElementsByClassName("stat-label")[0].classList.add("hidden");
            document.getElementById("schematicStat"+i).getElementsByClassName("stat-label")[1].classList.add("hidden");
          }
        }
        panel.innerHTML += `<div class="schematicMoreInfo">
              <div class="divider bottom top" style="margin-bottom: 3%;"></div>`;

        for (var i = 0; i < Object.keys(window.schematicConfig[type].statEffects).length; i++) {
          panel.innerHTML += matString({"name": Object.keys(window.schematicConfig[type].statEffects)[i], "index": i});
        }
        panel.innerHTML += `</div>`;
      }
      
      function update (stats, tier) {
      var panel = document.getElementById("schematicPanel");
        panel.style.borderColor = window.schematicConfig.Engine[tier].colour;
        
        for (var i = 0; i < stats.length; i++){
          if (stats[i] < 5) {
            document.getElementById("schematicStat" + i + "Bar").style.width = (stats[i] * 100) + "%";
          } else {
            document.getElementById("schematicStat" + i + "Bar").style.width = stats[i] + "%";
          }
          
          document.getElementById("schematicStat" + i + "Value").innerHTML = stats[i];
        }
        
        document.getElementById("schematicName").innerHTML = "Procedural Engine (Tier " + tier + ")";
      }
      
      var request = new XMLHttpRequest();
      request.open('GET', '/config/schematicConfig.json', true);

      request.onload = function() {
        if (this.status >= 200 && this.status < 400) {
          window.schematicConfig = JSON.parse(this.response);
          
          render("Engine");

          window.storage = window.localStorage;
          window.loadedSchematic;
          
          document.getElementById("updateButton").addEventListener("click", function (e) {
            update(
              [ document.getElementById('stat1').value, 
               document.getElementById('stat2').value,
               document.getElementById('stat3').value,
               document.getElementById('stat4').value,
               document.getElementById('stat5').value ],
              document.getElementById("tier").value);
          });

        } else {
          console.log(this.response);
        }
      };

      request.onerror = function(err) {
        console.log(err);
      };

      request.send();
    </script>
  </body>
</html>
