/* ------------------------------
       Column Styling
------------------------------ */
* {box-sizing: border-box;}

.col-1 {width: 6.33%; margin-left: 1%; margin-right: 1%;}
.col-2 {width: 14.66%; margin-left: 1%; margin-right: 1%;}
.col-3 {width: 23%; margin-left: 1%; margin-right: 1%;}
.col-4 {width: 31.33%; margin-left: 1%; margin-right: 1%;}
.col-5 {width: 39.66%; margin-left: 1%; margin-right: 1%;}
.col-6 {width: 48%; margin-left: 1%; margin-right: 1%;}
.col-7 {width: 56.33%; margin-left: 1%; margin-right: 1%;}
.col-8 {width: 64.66%; margin-left: 1%; margin-right: 1%;}
.col-9 {width: 73%; margin-left: 1%; margin-right: 1%;}
.col-10 {width: 81.33%; margin-left: 1%; margin-right: 1%;}
.col-11 {width: 89.66%; margin-left: 1%; margin-right: 1%;}
.col-12 {width: 98%; margin-left: 1%; margin-right: 1%;}

[class*="col-"] {float: left; padding: 15px; }
@media only screen and (max-width: 768px) {[class*="col-"] {width: 100%; margin-top: 5px; margin-bottom: 5px; }}
.row::after {content: ""; clear: both; display: table; }
.container {margin: 0 10px 0 10px; }

:root {
  --rarity-common: #FFE5C4;
  --rarity-uncommon: #95C340;
  --rarity-rare: #6392F6;
  --rarity-exotic: #FFD27D;
  --rarity-pristine: #C883F5;
  --rarity-legendary: #E6152C;
  --rarity-experimental: black;
  --rarity-hypothetical: darkgray;
  
  --text-colour: #ffe5c4;
}

/* ------------------------------
       Main Page CSS Styles 
------------------------------ */
html { 
  background: url(https://cdn.glitch.com/207b7d3e-84f3-40e3-b2ba-fb11865124a8%2Fislandbgimage.png?1526912894884) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0 0 0 0;
  font-family: 'Noto Sans', sans-serif;
  color: #ffe5c4;
}

a {
  color: #ffe5c4;
}


.wa-panel {
  background-color: rgba(79, 65, 65, 0.8);
  border-bottom-color: rgb(224, 176, 132);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-top-color: rgb(224, 176, 132);
  border-top-style: solid;
  border-top-width: 5px;
  padding: 10px 10px 10px 10px;
}

.wa-header {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
}

.wa-title {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
}

/*

Schematic Styles

*/

.divider {
  border-bottom: dashed 2px white; 
  clear: both;
}

.top {
  margin-top: 5px; 
}

.bottom {
  margin-bottom: 5px; 
}

.stat-bar {
  background-color: #776464; 
  width: 100%; 
  position: relative; 
  height: 25px; 
  margin-bottom: 2px;
}

.progress {
  background-color: #668ec3; 
  height: 25px; 
  width: 0%; 
  position: absolute; 
  transition: width 1s, background-color 0.5s ease, color 0.5s ease;
}

.stat-label {
  z-index: 1;   
  position: relative;
}

.left {
  float: left; 
  margin-left: 10px;
}

.right {
  float: right;
  margin-right: 10px;
}

.schem-mat {
  background-color: #776464;
}

.schem-mat.top {
   margin-top: 1%;
}

.schem-mat.bottom {
  margin-bottom: 1%;
}

.schem-mat.hidden {
  display: none !important;
}

.schem-mat > .wa-header {
  display: block;
}

.roll-btn {
  padding: 5px; 
  border: 1px solid; 
  border-radius: 5px; 
  display: inline-block;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.common-btn {
  color: var(--rarity-common);
  background-color: rgba(0,0,0,0);  
}

.common-btn:hover {
  color: black;
  background-color: var(--rarity-common);
  border-color: var(--rarity-common);
}

.uncommon-btn {
  color: var(--rarity-uncommon);
  background-color: rgba(0,0,0,0);  
}

.uncommon-btn:hover {
  color: var(--text-colour);
  background-color: var(--rarity-uncommon);
  border-color: var(--rarity-uncommon);
}

.rare-btn {
  color: var(--rarity-rare);
  background-color: rgba(0,0,0,0);  
}

.rare-btn:hover {
  color: var(--text-colour);
  background-color: var(--rarity-rare);
}

.exotic-btn {
  color: var(--rarity-exotic);
  background-color: rgba(0,0,0,0);  
}

.exotic-btn:hover {
  color: black;
  background-color: var(--rarity-exotic);
}

.pristine-btn {
  color: var(--rarity-pristine);
  background-color: rgba(0,0,0,0);  
}

.pristine-btn:hover {
  color: var(--text-colour);
  background-color: var(--rarity-pristine);
}

.legendary-btn {
  color: var(--rarity-legendary);
  background-color: rgba(0,0,0,0);  
}

.legendary-btn:hover {
  color: var(--text-colour);
  background-color: var(--rarity-legendary);
}

.hypothetical-btn {
  color: var(--rarity-hypothetical);
  background-color: rgba(0,0,0,0);  
}

.hypothetical-btn:hover {
  color: var(--text-colour);
  background-color: var(--rarity-hypothetical);
}

.experimental-btn {
  color: var(--rarity-experimental);
  background-color: rgba(0,0,0,0);  
}

.experimental-btn:hover {
  color: var(--text-colour);
  background-color: var(--rarity-experimental);
}