.switch-btn {
  width: 22%; 
  margin: 0 1%; 
  display: inline-block; 
  border: 1px solid; 
  border-radius: 5px; 
  text-align: center;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.switch-btn:hover {
  background-color: var(--text-colour);
  color: black;
  border-color: var(--text-colour);
  cursor: pointer;
}

.switch-btn.active {
  background-color: var(--text-colour);
  color: black;
  border-color: var(--text-colour);
  cursor: default !important;
}

#saveLoadedSchematicBtn:hover , #loadSavedSchematicBtn:hover {
  color: gray;
}

.hidden {
  display: none;
}

.muted-text {
  text-decoration: none; 
  color: darkgray; 
  text-transform: uppercase; 
  text-align: center;
}

.unselectable {
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}

.form-group {
  display: block;
  margin-left: 1%; width: 48%; margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  background-color: #776464;
  transition: background-color 0.5s ease;
}

.form-group.clickable:hover {
  background-color: #534646;
  cursor: pointer;
}

.form-group-header {
  font-size: 1em; 
  float: left; 
  display: inline-block; 
  vertical-align: middle; 
  line-height: 34px;
}

.form-group > .wa-input {
  float: right; 
  display: inline-block; 
  vertical-align: middle; 
  line-height: 100%;
}

.wa-input.value {
   width: 55px;
}

.wa-input.parameter {
  width: 45px; 
  border-right: 2px dotted white;
  cursor: pointer;
}

.wa-input {
  background-color: rgba(0, 0, 0, 0.3);
  border: transparent;
  box-sizing: border-box;
  color: #ffe5c4;
  font-family: "Noto Sans";
  font-size: 14px;
  height: 34px;
  line-height: 19.6px;
  outline-color: rgb(255, 229, 196);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  text-align: start;
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
}

.center {
  text-align: center; 
  vertical-align: middle; 
  width: 100%;
}

.load-btn {
  display: inline-block; 
  float: left; 
  text-transform: uppercase;
  cursor: pointer;
  color: #fff59d;
  transition: 0.2s color ease;
}

.load-btn:hover {
  color: #ffee58;
}

.forget-btn {
  display: inline-block; 
  float: right; 
  color: darkred;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s color ease;
}

.forget-btn:hover {
  color: #b71c1c;
}

.wa-panel {
  background-color: rgba(79, 65, 65, 0.8);
  border-bottom-color: rgb(224, 176, 132);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-top-color: rgb(224, 176, 132);
  border-top-style: solid;
  border-top-width: 5px;
  padding: 10px 10px 10px 10px;
}

.wa-header {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
}

.wa-title {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
}

/*

Schematic Styles

*/

.divider {
  border-bottom: dashed 2px white; 
  clear: both;
}

.top {
  margin-top: 5px; 
}

.bottom {
  margin-bottom: 5px; 
}

.stat-bar {
  background-color: #776464; 
  width: 100%; 
  position: relative; 
  height: 25px; 
  margin-bottom: 2px;
}

.progress {
  background-color: #668ec3; 
  height: 25px; 
  width: 0%; 
  position: absolute; 
  transition: width 1s, background-color 0.5s ease, color 0.5s ease;
}

.stat-label {
  z-index: 1;   
  position: relative;
}

.left {
  float: left; 
  margin-left: 10px;
}

.right {
  float: right;
  margin-right: 10px;
}

.schem-mat {
  background-color: #776464;
  cursor: pointer;
}

.schem-mat.top {
   margin-top: 1%;
}

.schem-mat.bottom {
  margin-bottom: 1%;
}

.schem-mat.hidden {
  display: none !important;
}

.schem-mat > .wa-header {
  display: block;
}

.roll-btn {
  padding: 5px; 
  border: 1px solid; 
  border-radius: 5px; 
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
