/* ------------------------------
       Column Styling
------------------------------ */
* {box-sizing: border-box;}

.col-1 {width: 6.33%; margin-left: 1%; margin-right: 1%;}
.col-2 {width: 14.66%; margin-left: 1%; margin-right: 1%;}
.col-3 {width: 23%; margin-left: 1%; margin-right: 1%;}
.col-4 {width: 31.33%; margin-left: 1%; margin-right: 1%;}
.col-5 {width: 39.66%; margin-left: 1%; margin-right: 1%;}
.col-6 {width: 48%; margin-left: 1%; margin-right: 1%;}
.col-7 {width: 56.33%; margin-left: 1%; margin-right: 1%;}
.col-8 {width: 64.66%; margin-left: 1%; margin-right: 1%;}
.col-9 {width: 73%; margin-left: 1%; margin-right: 1%;}
.col-10 {width: 81.33%; margin-left: 1%; margin-right: 1%;}
.col-11 {width: 89.66%; margin-left: 1%; margin-right: 1%;}
.col-12 {width: 98%; margin-left: 1%; margin-right: 1%;}

[class*="col-"] {float: left; padding: 15px; }
@media only screen and (max-width: 768px) {[class*="col-"] {width: 100%; margin-top: 5px; margin-bottom: 5px; }}
.row::after {content: ""; clear: both; display: table; }
.container {margin: 0 10px 0 10px; }

:root {
  --rarity-common: #FFE5C4;
  --rarity-uncommon: #95C340;
  --rarity-rare: #6392F6;
  --rarity-exotic: #FFD27D;
  --rarity-pristine: #C883F5;
  --rarity-legendary: #E6152C;
  --rarity-experimental: black;
  --rarity-hypothetical: darkgray;
  
  --text-colour: #ffe5c4;
}

#saveLoadedSchematicBtn:hover {
  color: gray;
}

#loadSavedSchematicBtn:hover {
  color: gray;
}

.hidden {
  display: none;
}

.muted-text {
  text-decoration: none; 
  color: darkgray; 
  text-transform: uppercase; 
  text-align: center;
}

.unselectable {
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}

.form-group {
  display: block;
  margin-left: 1%; width: 48%; margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  background-color: #776464;
  transition: background-color 0.5s ease;
}

.form-group.clickable:hover {
  background-color: #534646;
  cursor: pointer;
}

.form-group-header {
  font-size: 1em; 
  float: left; 
  display: inline-block; 
  vertical-align: middle; 
  line-height: 34px;
}

.form-group > .wa-input {
  float: right; 
  display: inline-block; 
  vertical-align: middle; 
  line-height: 100%;
}

.wa-input.value {
   width: 55px;
}

.wa-input.parameter {
  width: 45px; 
  border-right: 2px dotted white;
  cursor: pointer;
}

.wa-input {
  background-color: rgba(0, 0, 0, 0.3);
  border: transparent;
  box-sizing: border-box;
  color: #ffe5c4;
  font-family: "Noto Sans";
  font-size: 14px;
  height: 34px;
  line-height: 19.6px;
  outline-color: rgb(255, 229, 196);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  text-align: start;
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
}

.center {
  text-align: center; 
  vertical-align: middle; 
  width: 100%;
}

.load-btn {
  display: inline-block; 
  float: left; 
  text-transform: uppercase;
  cursor: pointer;
  color: #fff59d;
  transition: 0.2s color ease;
}

.load-btn:hover {
  color: #ffee58;
}

.forget-btn {
  display: inline-block; 
  float: right; 
  color: darkred;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s color ease;
}

.forget-btn:hover {
  color: #b71c1c;
}

/* ------------------------------
       Main Page CSS Styles 
------------------------------ */
html { 
  background: url(https://cdn.glitch.com/207b7d3e-84f3-40e3-b2ba-fb11865124a8%2Fislandbgimage.png?1526912894884) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0 0 0 0;
  font-family: 'Noto Sans', sans-serif;
  color: #ffe5c4;
}

a {
  color: #ffe5c4;
}


.wa-panel {
  background-color: rgba(79, 65, 65, 0.8);
  border-bottom-color: rgb(224, 176, 132);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-top-color: rgb(224, 176, 132);
  border-top-style: solid;
  border-top-width: 5px;
  padding: 10px 10px 10px 10px;
}

.wa-header {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
}

.wa-title {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
}

/*

Schematic Styles

*/

.divider {
  border-bottom: dashed 2px white; 
  clear: both;
}

.top {
  margin-top: 5px; 
}

.bottom {
  margin-bottom: 5px; 
}

.stat-bar {
  background-color: #776464; 
  width: 100%; 
  position: relative; 
  height: 25px; 
  margin-bottom: 2px;
}

.progress {
  background-color: #668ec3; 
  height: 25px; 
  width: 0%; 
  position: absolute; 
  transition: width 1s, background-color 0.5s ease, color 0.5s ease;
}

.stat-label {
  z-index: 1;   
  position: relative;
}

.left {
  float: left; 
  margin-left: 10px;
}

.right {
  float: right;
  margin-right: 10px;
}

.schem-mat {
  background-color: #776464;
  cursor: pointer;
}

.schem-mat.top {
   margin-top: 1%;
}

.schem-mat.bottom {
  margin-bottom: 1%;
}

.schem-mat.hidden {
  display: none !important;
}

.schem-mat > .wa-header {
  display: block;
}

.roll-btn {
  padding: 5px; 
  border: 1px solid; 
  border-radius: 5px; 
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.common-btn {
  color: var(--rarity-common);
  background-color: rgba(0,0,0,0);  
}

.common-btn:hover {
  color: black;
  background-color: var(--rarity-common);
  border-color: var(--rarity-common);
}

.uncommon-btn {
  color: var(--rarity-uncommon);
  background-color: rgba(0,0,0,0);  
}

.uncommon-btn:hover {
  color: var(--text-colour);
  background-color: var(--rarity-uncommon);
  border-color: var(--rarity-uncommon);
}

.rare-btn {
  color: var(--rarity-rare);
  background-color: rgba(0,0,0,0);  
}

.rare-btn:hover {
  color: var(--text-colour);
  background-color: var(--rarity-rare);
  border-color: var(--rarity-rare);
}

.exotic-btn {
  color: var(--rarity-exotic);
  background-color: rgba(0,0,0,0);  
}

.exotic-btn:hover {
  color: black;
  background-color: var(--rarity-exotic);
  border-color: var(--rarity-exotic);
}

.pristine-btn {
  color: var(--rarity-pristine);
  background-color: rgba(0,0,0,0);  
}

.pristine-btn:hover {
  color: var(--text-colour);
  background-color: var(--rarity-pristine);
  border-color: var(--rarity-pristine);
}

.legendary-btn {
  color: var(--rarity-legendary);
  background-color: rgba(0,0,0,0);  
}

.legendary-btn:hover {
  color: var(--text-colour);
  background-color: var(--rarity-legendary);
  border-color: var(--rarity-legendary);
}

.hypothetical-btn {
  color: var(--rarity-hypothetical);
  background-color: rgba(0,0,0,0);  
}

.hypothetical-btn:hover {
  color: var(--text-colour);
  background-color: var(--rarity-hypothetical);
  border-color: var(--rarity-hypothetical);
}

.experimental-btn {
  color: var(--rarity-experimental);
  background-color: rgba(0,0,0,0);  
}

.experimental-btn:hover {
  color: var(--text-colour);
  background-color: var(--rarity-experimental);
  border-color: var(--rarity-experimental);
}

/*
====================

MODALS

====================
*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgba(79, 65, 65, 0.8);
    margin: auto;
    padding: 0;
    border-bottom-color: rgb(224, 176, 132);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-top-color: rgb(224, 176, 132);
    border-top-style: solid;
    border-top-width: 5px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatefromtop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatefromtop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatefromtop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatefromtop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modalClose {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: rgba(79, 65, 65, 0.8);
    border-bottom-style: dashed;
    border-bottom-color: white;
    border-bottom-width: 2px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    border-top-style: dashed;
    border-top-color: white;
    border-top-width: 2px;
    padding: 2px 16px;
    background-color: rgba(79, 65, 65, 0.8);
}
